data/processed/
data/*.shp
data/*.dbf
data/*.shx
data/*.prj
data/*.cpg
data/*.qmd
data/Qgis/
data/cache/
data/BDNB/
genstar*/
__pycache__/
*.pyc
*.pyo
.env

# Fichiers hors-projet
*.docx
*.pdf
Webinar.txt
